<div style="width: 1440px; height: 1024px; position: relative; background: #F7F5F0; overflow: hidden">
  <div style="width: 256px; height: 39px; left: 27px; top: 48px; position: absolute">
    <div style="left: 0px; top: 0px; position: absolute; color: #739F8C; font-size: 32px; font-family: Inter; font-weight: 600; word-wrap: break-word">日常自习管理平台</div>
  </div>
  <div style="width: 1128px; height: 1024px; left: 309px; top: 0px; position: absolute; background: white"></div>
  <div style="width: 250px; height: 65px; left: 22px; top: 146px; position: absolute">
    <div style="width: 250px; height: 65px; left: 0px; top: 0px; position: absolute; background: rgba(4.22, 111.74, 43.64, 0.50); border-radius: 10px"></div>
    <div style="padding: 10px; left: 23.52px; top: 8px; position: absolute; justify-content: center; align-items: center; gap: 16px; display: inline-flex">
      <div style="justify-content: center; display: flex; flex-direction: column; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">首页</div>
    </div>
    <div style="width: 40px; height: 40px; left: 105px; top: 13px; position: absolute"></div>
  </div>
  <div style="width: 250px; height: 65px; left: 22px; top: 255px; position: absolute; background: #F7F5F0">
    <div style="width: 250px; height: 65px; left: 0px; top: 0px; position: absolute; background: rgba(230.31, 212.15, 180.80, 0.10); border-radius: 10px"></div>
    <div style="padding: 10px; left: 23.52px; top: 8px; position: absolute; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
      <div style="justify-content: center; display: flex; flex-direction: column; color: rgba(4.22, 111.74, 43.64, 0.50); font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">自习计划</div>
    </div>
  </div>
  <div style="width: 250px; height: 65px; left: 22px; top: 365px; position: absolute; background: #F7F5F0">
    <div style="width: 250px; height: 65px; left: 0px; top: 0px; position: absolute; background: rgba(230.31, 212.15, 180.80, 0.10); border-radius: 10px"></div>
    <div style="padding: 10px; left: 23.52px; top: 8px; position: absolute; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
      <div style="justify-content: center; display: flex; flex-direction: column; color: rgba(4.22, 111.74, 43.64, 0.50); font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">成长寄语</div>
    </div>
  </div>
  <div style="width: 250px; height: 65px; left: 27px; top: 474px; position: absolute; background: #F7F5F0">
    <div style="width: 250px; height: 65px; left: 0px; top: 0px; position: absolute; background: rgba(230.31, 212.15, 180.80, 0.10); border-radius: 10px"></div>
    <div style="padding: 10px; left: 23.52px; top: 8px; position: absolute; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
      <div style="justify-content: center; display: flex; flex-direction: column; color: rgba(4.22, 111.74, 43.64, 0.50); font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">成长轨迹</div>
    </div>
  </div>
  <div style="width: 40px; height: 61px; left: 30px; top: 921px; position: absolute">
    <div style="left: 0px; top: 37px; position: absolute; color: rgba(118.04, 74.76, 0, 0.50); font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">设置</div>
    <div data-size="24" style="width: 32px; height: 32px; left: 4px; top: 0px; position: absolute; overflow: hidden">
      <div style="width: 29.33px; height: 29.33px; left: 1.33px; top: 1.33px; position: absolute; outline: 2.50px rgba(118.04, 74.76, 0, 0.50) solid; outline-offset: -1.25px"></div>
    </div>
  </div>
  <div style="width: 424px; height: 19px; left: 357px; top: 52px; position: absolute">
    <div style="width: 424px; height: 19px; left: 0px; top: 0px; position: absolute; color: rgba(4.22, 111.74, 43.64, 0.50); font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">今日自律，稳步精进</div>
  </div>
  <div style="width: 260px; height: 46px; left: 357px; top: 87px; position: absolute">
    <div style="width: 523px; height: 46px; left: 0px; top: 0px; position: absolute; color: rgba(0, 0, 0, 0.70); font-size: 48px; font-family: Inter; font-weight: 400; word-wrap: break-word">你好，张三同学</div>
  </div>
  <div style="width: 260px; height: 23px; left: 357px; top: 161px; position: absolute">
    <div style="width: 413px; height: 23px; left: 0px; top: 0px; position: absolute; color: rgba(4.22, 111.74, 43.64, 0.50); font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">不追赶谁，照顾自己的节奏就很好</div>
  </div>
  <div style="width: 1034.01px; height: 0px; left: 363px; top: 222px; position: absolute; outline: 1px #E6D4B5 solid; outline-offset: -0.50px"></div>
  <div style="width: 363px; height: 142px; left: 382px; top: 261px; position: absolute">
    <div style="left: 30px; top: 65px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">70%</div>
    <div style="left: 30px; top: 27px; position: absolute; color: #764B00; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">今日完成度</div>
    <div style="width: 363px; height: 142px; left: 0px; top: 0px; position: absolute; border-radius: 16px; border: 2px #E6D4B5 solid"></div>
  </div>
  <div style="width: 363px; height: 142px; left: 382px; top: 435px; position: absolute">
    <div style="left: 90px; top: 83px; position: absolute; color: #8FB8A6; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">条</div>
    <div style="left: 30px; top: 63px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">12</div>
    <div style="left: 30px; top: 25px; position: absolute; color: #764B00; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">已解锁寄语</div>
    <div style="width: 363px; height: 142px; left: 0px; top: 0px; position: absolute; border-radius: 16px; border: 2px #E6D4B5 solid"></div>
  </div>
  <div style="left: 416px; top: 655px; position: absolute; color: rgba(0, 0, 0, 0.80); font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">今日学习任务</div>
  <div style="left: 647px; top: 661px; position: absolute; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
    <div style="color: #70655D; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">共</div>
    <div style="color: rgba(4.22, 111.74, 43.64, 0.75); font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">3</div>
    <div style="color: #70655D; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">项</div>
    <div style="color: #70655D; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">已完成</div>
    <div style="color: rgba(4.22, 111.74, 43.64, 0.75); font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">1</div>
    <div style="color: #70655D; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">项</div>
  </div>
  <div style="width: 363px; height: 142px; left: 794px; top: 435px; position: absolute">
    <div style="left: 85px; top: 83px; position: absolute; color: #8FB8A6; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">小时</div>
    <div style="left: 162px; top: 83px; position: absolute; color: #8FB8A6; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">分钟</div>
    <div style="left: 30px; top: 63px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">28</div>
    <div style="left: 131px; top: 63px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">5</div>
    <div style="left: 25px; top: 25px; position: absolute; color: #764B00; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">累计自习</div>
    <div style="width: 363px; height: 142px; left: 0px; top: 0px; position: absolute; border-radius: 16px; border: 2px #E6D4B5 solid"></div>
  </div>
  <div style="width: 363px; height: 142px; left: 794px; top: 261px; position: absolute">
    <div style="left: 72px; top: 85px; position: absolute; color: #8FB8A6; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">天</div>
    <div style="left: 30px; top: 65px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">5</div>
    <div style="left: 30px; top: 27px; position: absolute; color: #764B00; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">本周自习</div>
    <div style="width: 363px; height: 142px; left: 0px; top: 0px; position: absolute; border-radius: 16px; border: 2px #E6D4B5 solid"></div>
  </div>
  <div style="width: 794px; height: 207px; left: 382px; top: 625px; position: absolute; border-radius: 10px; border: 2px #739F8C solid"></div>
  <div style="width: 237px; height: 90px; left: 416px; top: 711px; position: absolute">
    <div style="left: 0px; top: 8px; position: absolute; color: #948477; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">待完成：</div>
    <div style="width: 126px; height: 70px; left: 111px; top: 0px; position: absolute">
      <div style="left: 4px; top: 0px; position: absolute; color: #948477; font-size: 24px; font-family: Inter; font-weight: 400; line-height: 45px; word-wrap: break-word">1.英语阅读4篇<br/>2.高数错题整理</div>
    </div>
  </div>
  <div style="width: 24px; height: 24px; left: 1133px; top: 649px; position: absolute; overflow: hidden">
    <div style="width: 14px; height: 14px; left: 5px; top: 5px; position: absolute; outline: 2.50px #739F8C solid; outline-offset: -1.25px"></div>
  </div>
  <div style="left: 412px; top: 898px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: rgba(4.22, 111.74, 43.64, 0.50); font-size: 24px; font-family: Li Xuke; font-weight: 500; line-height: 35px; word-wrap: break-word">” 你留下的每一滴汗水，都在悄悄浇灌未来的花朵。“</div>
  <div style="width: 120px; height: 45px; left: 720px; top: 711px; position: absolute">
    <div style="width: 120px; height: 32px; left: 0px; top: 7px; position: absolute; background: #E6D4B5; border-radius: 20px"></div>
    <div style="width: 120px; left: 0px; top: 0px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 45px; word-wrap: break-word">中优先级</div>
  </div>
  <div style="width: 120px; height: 45px; left: 720px; top: 756px; position: absolute">
    <div style="width: 120px; height: 32px; left: 0px; top: 7px; position: absolute; background: rgba(255, 5.43, 5.43, 0.50); border-radius: 20px"></div>
    <div style="width: 120px; left: 0px; top: 0px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 45px; word-wrap: break-word">高优先级</div>
  </div>
</div>